body{
background-image:url("../img/pozadina.png");
    color: #000385;
    font-size: 87.5%;
    font-family: Arial, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
    overflow-x: hidden;
    overflow-y: auto;
}
a{
    text-decoration: none;
}

a:link, a:visited{
    color:#cf5c3f;
}

a:hover, a:active{
   background-color: #cf5c3f;
    color: #fff;
}
.body{
    margin: 0 auto;
    width: 70%;
    clear: both;
}
.logo{
    width: 30%
}

.naslov{
    font-size:25pt;
    position: relative;
    left: 250px;
    top: -120px;
    margin: 2% 0;
}

.glavniheader nav{
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    position: relative;
    top:-100px;
}

.glavniheader nav ul{
    list-style: none;
    margin: 0 auto;
}

.glavniheader nav ul li{
    float: left;
    display: inline;
}

.glavniheader nav a:link, .glavniheader nav a:visited{
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.glavniheader nav a:hover, .glavniheader nav a:active,
.glavniheader nav .active a:link, .glavniheader nav .active a:visited{
    background-color: #cf5c3f;
    text-shadow: none;
}

.glavniheader nav ul li a{
    border-radius: 5px;
}
.sadrzaj{
    width: 70%;
    float:left;
}
.prvisadrzaj{
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.drugisadrzaj{
    background-color: #fff;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}
.vrh-sidebar{
    width: 21%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2% 3%;
}
.sredina-sidebar{
    width: 21%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 3%;
    margin-bottom: 2%;
     padding: 2% 3%;
}

.dno-sidebar{
    width: 21%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    margin-left: 3%;
    margin-bottom: 2%;
     padding: 2% 3%;
}
.glavnifooter{
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    background-color: #666;
    margin-top: 2%;
    margin-bottom: 2%;
}
.klasaministarstvo {
    list-style: none;
    margin-top:20px;
    border-radius:5px;
    background-color:white;
    padding:20px 0px;
    padding-left:10px;
}
.listaustanova{
   list-style: none;
    font-size: 25pt;

}
.tabla1 th,td{
    margin-top: 30%;
    border:1px solid #666;
    text-align:center;
}    
.kontaktforma {
    margin-left: 150px;
    padding: 5px;
}
#imeUpozorenje {
    visibility: hidden;
}
#imeTekst{
    color: red;
    visibility: hidden;
}
#prezimeUpozorenje {
    visibility: hidden;
}
#prezimeTekst{
    color: red;
    visibility: hidden;
}
#emailUpozorenje {
    visibility: hidden;
}
#emailTekst{
    color: red;
    visibility: hidden;
}
#email2Upozorenje {
    visibility: hidden;
}
#email2Tekst{
    color: red;
    visibility: hidden;
}
#porukaUpozorenje {
    visibility: hidden;
}
#porukaTekst{
    color: red;
    visibility: hidden;
}
 #obrazovanjeMeni
{
	visibility: hidden;
}
#obrazovanjeMeni 
{
	background-color: #666;
    color: white;
	text-align: center;
    border-radius:5px;
}
#glavniheader #obrazovanjeMeni a:hover
{
	background-color: #cf5c3f;
	border-radius:5px;
}

#mjestoUpozorenje {
    visibility: hidden;
}
#mjestoTekst{
    color: red;
    visibility: hidden;
}

#postanskiBrojUpozorenje {
    visibility: hidden;
}
#postanskiBrojTekst{
    color: red;
    visibility: hidden;
}
#postanskiMjesto{
    color: red;
    visibility: hidden;
}
